*.xcuserstate
/WalkWorthy/WalkWorthy.xcodeproj/project.xcworkspace/xcuserdata/nathanjones.xcuserdatad
WalkWorthy/WalkWorthy.xcodeproj/project.xcworkspace/xcuserdata/nathanjones.xcuserdatad/UserInterfaceState.xcuserstate
*.md